# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
NSUPS Pre-Bootcamp Contest Season 15/.vscode/settings.json
NSUPS Pre-Bootcamp Contest Season 15/Answers/deleteE.txt
